@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
body{
    font-family: 'Gloria Hallelujah', cursive;
    font-weight:bold;
    margin: 0;
}

:root{
    --primary-color: #00B0FF;
    --secondary-color: #32d9fa;
}

.container{
    padding-left: 0rem;
    padding-right: 1rem;
}
h1{
    color: #32d9fa;
}

.header{
    text-align: center;
}
.link{
    text-decoration: none;
}

.image{
    max-width: 300px;
    display: block;
    margin: auto;
    padding: 1rem;
}
.non-bullet{
    list-style:none;
}

.inline{
    display:inline;
    padding:0rem 0.5rem;
}
.navigation1{
    background-color: var(--primary-color);
    border-radius:10% 0% 100% 100% / 0% 10% 0% 100%   ;
}

.navigation2{
    background-color: var(--primary-color);
    border-radius:10% 0% 100% 100% / 0% 10% 23% 27%  ;
}

.nav-bar{
    color: white;
    padding: 1rem;
    
}

.nav-bar .link{
    color: white;
    text-align: right;

}

.header-int{
    font-size: 3rem;
    color: #f4fbff;
}

.nav-bar ul{
    text-align: right;
    padding-bottom: 2rem;
}

.sitename{
    font-size: 1.5rem;
}

.footer{
    padding: 2rem 1rem;
    text-align: center;
}
.footer ul{
    padding-inline-start: 0rem;
}

.footer .footer-headers{
    font-weight: bold;
    font-size: large;
}

.footer .link{
    color:whitesmoke;
}

.section{
    text-align: center;
}
.footer-header{
    color: #00B0FF;
}
