<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" />
    <title>Components</title>
</head>
<body>
    <nav class="nav-bar container">
        <div>THIS-IS-BRAND</div>
        <ul>
            <li class="inline non-bullet">
                <a class="link" href="/">Home</a>
            </li>
            
            <li class="inline non-bullet">
                <a class="link" href="/">Something1</a>
            </li>

            <li class="inline non-bullet">
                <a class="link" href="/">Something2</a>
            </li>
        </ul>
    </nav>

    <header class="header">
        <img class="image" src="" />
        <h1>This is heading <span>1</span></h1>
    </header>


    <section class="section">
        <h2>This is section1</h2>
        <p>this is a paragraph</p>
    </section>

    <footer class="footer">
        <div>This is Footer</div>
        <ul>
            <li>
                <a class="link inline" href="/">socials-1</a>
            </li>

            <li>
                <a class="link inline" href="/">socials-2</a>
            </li>

            <li>
                <a class="link inline" href="/">socials-3</a>
            </li>
        </ul>
    </footer>

</body>
</html>